:root {
    --color-primary: #8D6E63;
    --color-white: #FFFFFF;
    --color-black: #000000;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--color-primary);
    display: flex;
    min-height: 100vh;
}

.side-bar {
    display: flex;
    width: 288px;
    background-color: var(--color-white);
    flex-direction: column;
}

.side-bar-title-container {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid var(--color-primary);
}

.search-input-container {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--color-primary);
}

.searchs-input {
    width: 90%;
    height: 30px;
    border-radius: 10px;
}

.waiting-list {
    overflow-y: auto;
    flex-grow: 1;
}

.add-btn-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.add-btn {
    width: 90%;
    height: 30px;
    background-color: var(--color-primary);
    border: none;
    border-radius: 20px;
    color: var(--color-white);
    cursor: pointer;
}

.hero-section {
    border: 1px solid white;
    flex-grow: 1;
    padding: 15px;
}

.hero-section-title {
    background-color: var(--color-white);
    padding: 15px;
    width: 100%;
    justify-self: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.floor-plan {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.zone {
    background-color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    min-height: 200px;
    display: flex;
    flex-direction: column;
}

.zone-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid var(--color-primary);
}

.zone-header h4 {
    margin: 0;
}

.add-to-zone-btn {
    background-color: var(--color-black);
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 1.2rem;
    cursor: pointer;
    line-height: 28px;
}

.staff-in-zone-list {
    padding: 10px;
    flex-grow: 1;
}

@media (max-width: 1279px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    body {
        flex-direction: column
    }
    
    .side-bar {
        width: 100%;
        height: auto;
    }

    .staff-list-container {
        max-height: 200px;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }
}