:root {
    --color-primary: #8D6E63;
    --color-white: #FFFFFF;
    --color-black: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../images/vecteezy_3d-render-office-minimalist-room-with-wooden-design-interior_5382469.jpg);
    object-fit: cover;
    display: flex;
    min-height: 100vh;
}

.side-bar {
    display: flex;
    width: 288px;
    background-color: var(--color-white);
    flex-direction: column;
}

.side-bar-title-container {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid var(--color-primary);
}

.search-input-container {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--color-primary);
}

.searchs-input {
    width: 90%;
    height: 30px;
    border-radius: 10px;
}

.waiting-list {
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
}

.add-btn-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.add-btn {
    width: 90%;
    height: 30px;
    background-color: var(--color-primary);
    border: none;
    border-radius: 20px;
    color: var(--color-white);
    cursor: pointer;
}

.hero-section {
    flex-grow: 1;
    padding: 15px;
}

.hero-section-title {
    background-color: var(--color-white);
    padding: 15px;
    width: 100%;
    justify-self: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.floor-plan {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.zone {
    background-color: var(--color-white);
    border-radius: 10px;
    height: 250px;
    display: flex;
    flex-direction: column;
    color: black;
    position: relative;
}

.zone-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    z-index: 2;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.zone-header h4 {
    margin: 0;
}

.add-to-zone-btn {
    background-color: var(--color-black);
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.staff-in-zone-list {
    padding: 10px;
    flex-grow: 1;
    z-index: 2;
    gap: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.staff-in-zone-list::-webkit-scrollbar{
    display: none;
}

.div-img {
    margin-top: 36.6px;
    width: 100%;
    height: 90%;
    position: absolute;
    z-index: 1;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media (max-width: 1279px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    body {
        flex-direction: column
    }

    .side-bar {
        width: 100%;
        height: auto;
    }

    .staff-list-container {
        max-height: 200px;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }
}

/* ========== form ========= */


.form-out-container {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background-color: rgb(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.form-out-container.active {
    display: flex;
}

.form-in-container {
    background-color: var(--color-white);
    width: 400px;
    min-height: 300px;
    border-radius: 10px;
    padding: 20px;
}

.form-in-container h2 {
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.firstinput {
    display: flex;
    justify-content: space-between;
}

.firstinput-input {
    display: flex;
    flex-direction: column;
    width: 48%;
    gap: 10px;
}

.firstinput-input input {
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    outline: none;
    padding: 10px;
}

.firstinput-input select {
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    outline: none;
    height: 36px;
    width: 100%;
    color: gray;
    padding-left: 5px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputs input {
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    outline: none;
    padding: 10px;
}

.add-exp-btn {
    width: 25px;
    height: 25px;
    border-radius: 10px;
    border: none;
    background-color: rgb(111, 111, 111);
    color: white;
    position: absolute;
    left: 91%;
    top: 6px;
    cursor: pointer;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-container button {
    width: 48%;
    height: 30px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.submit-btn {
    background-color: rgb(62, 62, 255);
    color: white;
    font-weight: bold;
}

.cancel-btn {
    font-weight: bold;
}

.exp-container {
    height: 36px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    color: gray;
    font-size: 14px;
}

.exp-container img {
    position: absolute;
    left: 91%;
    top: 6px;
    border-radius: 5px;
    cursor: pointer;
}

.exp-ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.exp-input-container {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

.inp {
    width: 90%;
}

.dltExpBtn {
    position: absolute;
    right: 5px;
    bottom: 8px;
    width: 40px;
}

.exp-input {
    background-color: white !important;
}

.red-border {
    border: 1px solid red !important;
}


@media (max-width: 400px) {
    .form-in-container {
        width: 100%;
    }
}

/* ========== worker card ========== */

.worker-card-container {
    width: 90%;
    height: 70px;
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.worker-img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid;
}

.info-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.worker-card-container-in-zone {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}